body
{
 background-color:#3b3b3b;
 background:linear-gradient(rgba(0,0,0,0.6)),url("t80 22.png");
 background:transaparent;
}

h1,h2,h3
{
 font-family:;
 font-size: 28px;
 color:#FFFFFF;
}

p
{
font-size: 20px;
font-family:Courier, New;
}

section
{
  background-color:#FFFFFF;
  font-family: Courier, New;
  padding:8px;
  background:transparent;
  
}

footer
{
background-color:#3b3b3b;
  font-family: ; 
  padding:8px;
  color: #FFFFFF;
  font-size: 20px;
  text-align: left;
}

img
{
max-width: 100%;	
}

video
{
max-width: 100%;	
}

nav
{
background-color:#3b3b3b;
color:#FFFFFF;
font-family: Courier, New;
font-weight:bold;
text-align: center;

}

nav ul
{
height:auto;
margin:0px;
padding:10px;	
}


nav li
{
display:inline;
padding:0px;
margin:0px;	
}

nav a
{
text-decoration:none;
color:#FFFFFF;
padding:8px 5px;
display:inline;	
}

nav a:hover
{
background-color:#FFFFFF;
color:#000055;	
}